.main-contanier{
    display: block;
    justify-content: center;
    align-items: center;
    .main-title{
        color:gray;
    }
    .main-align-contanier{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
    }
}