.main-contanier{
    .main-title{
        color:gray;
    }
    .main-align-contanier{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        .border-radius{
            border: 1px solid rgba(224, 224, 224, 1);
            height: auto;
            width: 800px;
            border-radius: 15px;
          }
    }
}