.table-border-radius{
    border: 1px solid rgba(224, 224, 224, 1);
    height: auto;
    width: 100%;
    border-radius: 15px;
  
  
.table-cell{
    display: inline-flex;
    justify-content: center; 
    align-items: center;
.text-decation-line{
    text-decoration: line-through;
    color: gray;
}
.text-decation-none{
    text-decoration: none;
}
}
.table-cell-handle{
display: flex;
 justify-content: end;
.delete-button{
color: red;
}  
}
}